<div style="margin: 100px" upd>
  <h1>Fill the gaps about new example:</h1>
  <h2>Name: </h2>
  <input  style="width: 30%; margin-top: 30px" ng-model="newname"><br>
  <h2>Author name: </h2>
  <input style="width: 30%; margin-top: 30px"  ng-model="newauthor"><br>
  <h2>Preview description: </h2>
  <textarea style="height: 100px; width: 60%; margin-top: 30px" ng-model="newdescription"></textarea><br>
  <h2>Full description: </h2>
  <textarea style="height: 400px; width: 60%; margin-top: 30px" ng-model="newfull"></textarea><br>
  <button style="height: 30px; width: 100px; margin-top: 30px" ng-click="addnew(newname, newauthor, newdescription, newfull)">Apply</button>
  <button style="height: 30px; width: 100px; margin-top: 30px" ng-click="home()">Home</button>
</div>
